---
import Page from '@/layouts/page.astro'
import { githubPlotter } from '@/lib/utils'
---

<Page
  title="TSUCS 1"
  description="TSUCS 1 Attractor"
  hash="/#tsucs"
>
<p>
  The Three Scroll Unified Chaotic System (TSUCS) attractor.
  I don't know why it has a long name, but it looks gorgeous.
</p>
<p>
  Attribution: <a target="_blank" rel="noreferrer" href="https://www.deviantart.com/chaoticatmospheres/art/Strange-Attractors-The-TSUCS-1-Attractor-376643333">
    ChaoticAtmospheres</a>
</p>
<p>
  Code: <a target="_blank" rel="noreferrer" 
  href={githubPlotter("tsucs.ts")}>
  Github</a>
</p>
</Page>

<script>
  import { init as initUi } from '@/lib/ui'
  import Tsucs from '@/lib/plotters/tsucs'
  import start from '@/lib/three'

  const onProgress = initUi()
  start({
    canvas: document.querySelector('canvas#canvas') as HTMLCanvasElement,
    plotter: new Tsucs(),
    onProgress,
    scale: 3,
    rotateX: true,
    rotateY: true,
    itterationPerCycle: 45,
    totalCycle: 1000
  })
</script>