---
import Page from '@/layouts/page.astro'
import { githubPlotter } from '@/lib/utils'
---

<Page
  title="TSUCS 1"
  description="TSUCS 1 Attractor"
  hash="/#tsucs"
>
<p>
  Wang-Sun Attractor: This one really looks like a four-winged butterfly.
</p>
<p>
  Attribution: <a target="_blank" rel="noreferrer" href="http://www.3d-meier.de/tut19/Seite99.html">
    www.3d-meier.de</a>
</p>
<p>
  Code: <a target="_blank" rel="noreferrer" 
  href={githubPlotter("wang-sun.ts")}>
  Github</a>
</p>
</Page>

<script>
  import WangSun from '@/lib/plotters/wang-sun'
  import start from '@/lib/three'

  start({
    canvas: document.querySelector('canvas#canvas') as HTMLCanvasElement,
    plotter: new WangSun(),
    scale: 100,
    itterationPerCycle: 100,
    totalCycle: 3000,
  })
</script>