---
import { githubRepo } from '@/lib/utils'
---

<footer>
  Made by&nbsp;<a target="_blank" 
    rel="noreferrer"
    href="https://jujiyangasli.com">juji</a>&nbsp;&nbsp;•&nbsp; for&nbsp;nostalgic&nbsp;fun&nbsp;&nbsp;•&nbsp;
    <a target="_blank" 
    rel="noreferrer"
    href={githubRepo()}
    >Github&nbsp;Code</a>
</footer>

<style>
  footer{
    padding: 2rem;
    background-color: #222;

    & a{
      color: #ff6363;
    }
  }
</style>